body{
  background:linear-gradient(#ddd6f3, #EFEFBB);
}

.App{
  max-width: 800px;
  margin: 0 auto;
}

.App-header h1 {
  font-size: 140px;
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  margin-bottom: 20px;
  margin-top: 20px;
  font-style: italic;
}

.App-header {
  text-align: center;
  margin: 30px 0;

}

.App-logo {
  max-width: 60px;
  border-radius: 25% 10%;
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 60px; 
}

.App a {
  color: #748DA5;
  text-decoration: none;
}

.App a:hover {
  color: #FFC54F;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
