form {
text-align: center;
margin-top: 30px;
}

.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary h1 {
  text-align: center;
}

.Dictionary section{
  background:#ffff;
  padding: 30px;
  border-radius: 17px;
  box-shadow: 0 5px 10px rgb( 0 0 0 / 10%);
  margin: 20px 0;
}

.Dictionary input {
  width: 50%;
  padding: 4px 2px;
  border-radius: 6px;
  color:#333;
  border: 1px solid #ddd;
}

.Dictionary .hint{
  font-size: 11px;
  margin-top:5px;
  text-align: center;
}