.Phonetic {
    height: 50px;
}

.Phonetic a {
    font-size: 12px;
    font-weight: bold;
    color: #8879B0;
    margin-right: 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
    background-color: #EFEFBB;
    color: white;
}