.Phonetic a {
    border: 1px solid #ddd;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
    background-color: #FFE6E6;
    color: white;
}